{% extends 'base.html.twig' %}

{% block body_id 'homepage' %}

{#
the homepage is a special page which displays neither a header nor a footer.
this is done with the 'trick' of defining empty Twig blocks without any content
#}
{% block title %} {{ parent() }} : Accueil {% endblock title %}

{% block main %}

<div class="row">
  <div class="card-deck col-sm-3">
    <div class="card">
      <img src="http://lorempixel.com/300/200/" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a l .</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
  <div class="card-deck col-sm-3">
    <div class="card">
      <img src="https://loremflickr.com/320/240" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
  <div class="card-deck col-sm-3">
    <div class="card">
      <img src="https://placeimg.com/300/200/any" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card t.
          This card has even longer .</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
  <div class="card-deck col-sm-3">
    <div class="card">
      <img src="https://loremflickr.com/320/240" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text.</p>
        <p class="card-text"><small class="text-muted">Last updated 1 mins ago</small></p>
      </div>
    </div>
  </div>
  <div class="card-deck col-sm-3">
    <div class="card">
      <img src="http://lorempixel.com/300/200/" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card t.</p>
        <p class="card-text"><small class="text-muted">Last updated 5 mins ago</small></p>
      </div>
    </div>
  </div>
  <div class="card-deck col-sm-3">
    <div class="card">
      <img src="https://loremflickr.com/320/240" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
  <div class="card-deck col-sm-3">
    <div class="card">
      <img src="http://lorempixel.com/300/200/" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card t.
          This card has even longer .</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
  <div class="card-deck col-sm-3">
    <div class="card">
      <img src="https://loremflickr.com/320/240" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
  <div class="card-deck col-sm-3">
    <div class="card">
      <img src="https://placeimg.com/300/200/animals" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card t.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block sidebar %}
{{ render(controller('App\\Controller\\PostController::linkedSubjectActives', {  })) }}
{% endblock %}