{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <div class="row">
        <label for="username">{{ 'resetting.request.username'|trans }}</label>
    </div>
    <div class="row">
        <div class="col-sm-8">

            <input type="text" id="username" name="username" required="required" class="form-control" />
        </div>
        <div class="col-sm-2">
            <input type="submit" value="{{ 'resetting.request.submit'|trans }}" class="btn btn-primary" />
        </div>
    </div>
</form>