<div class="section about"> 
    <div class="card">
        <div class="card-header">
            Header
        </div>
        <div class="card-body">
            <h5 class="card-title">Title</h5>
            <p>
                {{ 'help.app_description'|trans|raw }}
            </p>
            <p>
                {{ 'help.more_information'|trans|raw }}
            </p>
        </div>
        <div class="card-footer">
            Footer xxx
        </div>
    </div>
</div>

{# it's not mandatory to set the timezone in localizeddate(). This is done to
avoid errors when the 'intl' PHP extension is not available and the application
is forced to use the limited "intl polyfill", which only supports UTC and GMT #}
<!-- Fragment rendered on {{ 'now'|localizeddate('long', 'long', null, 'UTC') }} -->