 
<p class="post-tags">
    {% for tag in post.tags %}
    <a href="{{ path('post_index', {'tag': tag == app.request.query.get('tag') ? null : tag}) }}" class="label label-{{ tag == app.request.query.get('tag') ? 'success' : 'default' }}">
        <i class="fa fa-tag"></i> {{ tag }} 
    </a>
    {% endfor %}
</p>
 