<div class="section about">
    <div class="card">
        <div class="card-header">
            Discussions actives
        </div>
        <div class="card-body">
            {% for post in posts %}
            
            <p>
                <a href="{{ path('post_show', {slug: post.slug}) }}">
                    {{post.title}}
                </a>
            </p>

            <p> Par <small class="text-muted"> {{post.author.username}}</small>, le
                    <small class="text-muted"> {{ post.publishedAt| date("m/d/Y à H:i:s")}}</small> 
         </p>

            <hr>
            {% endfor %}
        </div>
        <div class="card-footer">
            Footer
        </div>
    </div>
</div>