<div class="section about"> 
    <div class="card">
        <div class="card-header">
            Sujets liés
        </div>
            <div class="card-body"> 
                A venir !
            </div>
        <div class="card-footer">
            Footer 
        </div>
    </div>
</div>
